{%extends 'visitor/base.html'%}
{% load staticfiles %}
{% block active%}
      <li class="active"><a href="{%url 'index'%}"><i class="fas fa-home"></i>&ensp; Home</a></li>
      <li class="dropdown ">
        <a class="dropdown-toggle " data-toggle="dropdown" href="#">Visitor
        <span class="caret"></span></a>
        <ul class="dropdown-menu ">
          <li><a href="{%url 'visitor:register'%}">Add new</a></li>
          <li><a href="{%url 'visitor:checkedin_list'%}">Checked In</a></li>
          <li><a href="{%url 'visitor:list'%}">Checked Out</a></li>
        </ul>
      </li>        
    </ul>
{% endblock active%}
{%block content%}
<head><title>Home</title></head>


  <div id="myCarousel" class="carousel slide" >
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="" contenteditable="false"></li>
        <li data-target="#myCarousel" data-slide-to="1" class="active" contenteditable="false"></li>
        <li data-target="#myCarousel" data-slide-to="2" class="" contenteditable="false"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item" style="">
            <img src="{% static 'card/images/slide1.jpg' %}" alt="" class="img-responsive">
            <!-- <div class="carousel-caption">
                <h4 class="">First Slide Title</h4>
                <p class="">
                   Description for First Slide, this First Slide.
                </p>
            </div> -->
        </div>
        <div class="item active">
            <img src="{% static 'card/images/slide2.jpg' %}" alt="" class="img-responsive">
            <!-- <div class="carousel-caption">
                <h4 class="">Second Slide Title</h4>

                <p class="">
                   Description for Second Slide, this is Second Slide.
                </p>
            </div> -->
        </div>
        <div class="item" style="">
            <img src="{% static 'card/images/slide3.jpg' %}" alt="" class="img-responsive">
            <!-- <div class="carousel-caption">
                <h4 class="">Third Slide Title</h4>

                            <p class="">
                   Description for Third Slide, this is Third Slide.
                </p>
            </div> -->
        </div>
    </div>    

    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>

    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
<div>
   <h3><u>About Visitor Identity Portal:</u></h3>

<p>Welcome to our website, which allows you to create ID cards for people visiting to your college.</p>
<ul>
	<li>Click <a href="{%url 'visitor:register'%}">here</a> to add new visitor details and create his/her identity card.</li>
    <li>Click <a href="{%url 'visitor:checkedin_list'%}">here</a> to get all visitors currently in the college.</li>
    <li>Click <a href="{%url 'visitor:list'%}">here</a> to check out.</li>
</ul>

<!-- <p>We hope your visit will help you understand the opportunities and potential rewards that are available when you take a proactive approach to your personal financial situation. [Company] created this website to help you gain a better understanding of the financial concepts behind insurance, investing, retirement, estate planning, and wealth preservation. Most importantly, we hope you see the value of working with skilled professionals to pursue your financial goals. We're here to help educate you about the basic concepts of financial planning, to help you learn more about who we are, and to give you fast, easy access to market performance and data. We hope you take advantage of this resource and visit us often. Be sure to add our site to your list of "favorites" in your Internet browser. We frequently update our information, and we wouldn't want you to miss any developments in the area of personal finance.</p> -->

</div>
{%endblock%}